.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
test_out
.nf-test.log
scratch/
scratch*
test_data/adaptive/*
test_data/cfdna/*
test_data/realistic_data/*
test_data/cfdna/
test_data/variant_calling/cnv_calling/*
test_data/methylation_analysis/*
test_data/basecalling/
.nf-test/
.Rproj.user
refs

# Dolt database files (added by bd init)
.dolt/
*.db
test_data/basecalling/sample*
references
