.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
test_out
.nf-test.log
test_data/adaptive/*
test_data/realistic_data/*
test_data/variant_calling/cnv_calling/*
.nf-test/
.Rproj.user
