manifest {
    name            = 'nf-core-oncoseq'
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'Charlène Lawruk-Desjardins',
            affiliation: 'CRA-CHU Sainte-Justine, Montreal, Canada (CHUSJ-MPGI)',
            email: '',
            github: 'github.com/chusj-pigu',
            contribution: ['author', 'maintainer'],
            orcid: 'https://orcid.org/0009-0008-3905-4766'
        ],
        [
            name: 'Nicholas Geoffrion',
            affiliation: 'CRA-CHU Sainte-Justine, Montreal, Canada (CHUSJ-MPGI)',
            email: '',
            github: 'github.com/chusj-pigu',
            contribution: ['maintainer', 'contributor'],
            orcid: 'https://orcid.org/0000-0001-7033-3730'
        ],
    ]
    homePage        = 'https://github.com/nf-core/oncoseq'
    description     = """Oncology analysis pipeline for WGS data."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = ">=26.04.0"
    version         = params.pipeline_version
    doi             = params.pipeline_doi
}
