// Strict configuration syntax only exposes params for reuse across config files.
params.pipeline_version = '1.0.0dev'
params.pipeline_doi = ''

manifest {
    name            = 'nf-core/oncoseq'
    author          = """CHUSJ-MPGI""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'CHUSJ-MPGI',
            affiliation: '',
            email: '',
            github: 'github.com/chusj-pigu',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/oncoseq'
    description     = """Oncology analysis pipeline for WGS data."""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = params.pipeline_version
    doi             = params.pipeline_doi
}
