/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'MOSDEPTH_ADAPTIVE' {
        publishDir = [
            path: { "${params.outdir}/reports/mosdepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "-n"
    }

    withName: 'MOSDEPTH_GENERAL' {
        publishDir = [
            path: { "${params.outdir}/reports/mosdepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "-n"
    }

    withName: 'QUARTO_REPORT' {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_TOFASTQ' {
        publishDir = [
            path: { "${params.outdir}/reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "-T '*'"
    }

    withName: 'SAMTOOLS_SORT_INDEX' {
        publishDir = [
            path: { "${params.outdir}/alignments" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args = "-y -ax map-ont"
    }

    withName: 'SEQKIT_STATS' {
        publishDir = [
            path: { "${params.outdir}/reports/seqkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CLAIRS_TO_CALL' {
        ext.args = "--chunk_size 500000 --remove_intermediate_dir"
    }

    withName: 'CLAIR3_CALL' {
        ext.args = "--snp_min_af 0.05 --remove_intermediate_dir"
    }

    withName: 'SAMTOOLS_SEPARATE_BED' {
        ext.args = "-b -x MM,ML"
    }

    withName: 'CRAMINO_STATS' {
        publishDir = [
            path: { "${params.outdir}/reports/cramino" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COVERAGE_PLOT' {
        publishDir = [
            path: { "${params.outdir}/reports/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_CONCAT' {
        ext.args = '-a -D'
    }

    withName: 'WHATSHAP_PHASE' {
        publishDir = [
            path: { "${params.outdir}/variants/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'WHATSHAP_HAPLOTAG' {
        publishDir = [
            path: { "${params.outdir}/phasing/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = '--skip-missing-contigs'
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/phasing/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.bai"
        ]
    }

    withName: 'WHATSHAP_STATS' {
        publishDir = [
            path: { "${params.outdir}/phasing/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SNIFFLES_CALL' {
        ext.args = '--phase --minsupport-auto-mult 0.05'
    }

    withName: 'BGZIP_VCF' {
        publishDir = [
            path: { "${params.outdir}/variants/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.contains('sv') ? filename : null }
        ]
    }

    withName: 'QDNASEQ_CALL' {
        publishDir = [
            path: { "${params.outdir}/variants/qdnaseq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SUBCHROM_CALL_WGS' {
        publishDir = [
            path: { "${params.outdir}/variants/subchrom" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
