// Global default params, used in configs
params {
    // Input options
    // TODO: put profile specific params in mpgi.config
    input                      = null
    ubam_samplesheet           = null
    demux                      = null
    demux_samplesheet          = null
    skip_basecalling           = false
    adaptive                   = true
    bed                        = "${projectDir}/test_data/adaptive/2025-02-05-CHUSJ-Panel-20kb-LP.bed"
    adaptive_samplesheet       = null
    low_fidelity               = "${projectDir}/assets/NOLIST"
    padding                    = null
    cfdna                      = false
    minqs                      = 10
    model                      = null
    model_path                 = null
    m_bases_path               = null
    m_bases                    = null
    device                     = null
    batch                      = null
    mapping_small              = true
    clairsto_model             = 'ont_r10_dorado_sup_5khz_ssrs'
    chr_list                   = 'chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY'
    clin_database              = "hg38"
    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null
    // Boilerplate options
    max_memory                   = '16G'
    max_cpus                     = 4
    max_time                     = '4h'
    outdir                       = null
    publish_dir_mode             = 'copy'
    igenomes_base                = 's3://ngi-igenomes/igenomes/'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = "${projectDir}/test_data/"
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null
    // Schema validation default options
    validate_params            = true
}
