// Global default params, used in configs
params {
    // Input options
    input                      = null
    // TODO: put profile specific params in mpgi.config
    input                      = null
    adaptive                   = false
    ubam_samplesheet           = null
    bed                        = null
    demux                      = null
    demux_samplesheet          = null
    ref                        = null
    minqs                      = 10
    model_path                 = null
    m_bases_path               = null
    model                      = null
    m_bases                    = null
    device                     = null
    batch                      = null
    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null
    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    igenomes_base                = 's3://ngi-igenomes/igenomes/'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    pipelines_testdata_base_path = '/workspaces/nf-core-oncoseq/test_data/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null
    // Schema validation default options
    validate_params            = true
}
