/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/oncoseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withLabel: 'Nanoplot' {
        publishDir = [
            path: { "${params.outdir}/reports/Nanoplot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "--minqual ${params.minqs} --huge"
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.pipelines_testdata_base_path + 'samplesheets/samplesheet.csv'
    model = 'fast'
    device = null
    // TODO mpgi: make a better dataset for demultiplexing, possibly cfnda
    demux = 'SQK-NBD114-24'
    demux_samplesheet = params.pipelines_testdata_base_path + 'samplesheets/demux_samplesheet.csv'
   // ubam_samplesheet = params.pipelines_testdata_base_path + 'samplesheets/ubam_samplesheet.csv'
    publish_dir_mode = 'copy'
    minqs = 8
}
