process {
    // CPU Definitions
    withLabel:process_low_cpu {
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    }
    withLabel:process_medium_low_cpu {
        cpus = { check_max( 10 * task.attempt, 'cpus' ) }
    }
    withLabel:process_medium_cpu {
        cpus = { check_max( 20 * task.attempt, 'cpus' ) }
    }
    withLabel:process_medium_high_cpu {
        cpus = { check_max( 40 * task.attempt, 'cpus' ) }
    }
}
