process {
    withLabel:process_very_low_memory {
        memory = { params.check_max( 500.MB  * (params.huge ? 3 : 1) * task.attempt, 'memory' ) }
    }
    withLabel:process_low_memory {
        memory = { params.check_max( 3.GB    * (params.huge ? 3 : 1) * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_low_memory {
        memory = { params.check_max( 10.GB   * (params.huge ? 3 : 1) * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_mid_memory {
        memory = { params.check_max( 20.GB   * (params.huge ? 3 : 1) * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_memory {
        memory = { params.check_max( 40.GB   * (params.huge ? 3 : 1) * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_high_memory {
        memory = { params.check_max( 60.GB   * (params.huge ? 3 : 1) * task.attempt, 'memory' ) }
    }
    withLabel:process_higher_memory {
        memory = { params.check_max( 100.GB  * (params.huge ? 3 : 1) * task.attempt, 'memory' ) }
    }
}
