process {
    withLabel:process_very_low_memory {
        memory = {
            def requested = 500.MB * (params.huge ? 3 : 1) * task.attempt
            try {
                def maximum = params.max_memory as nextflow.util.MemoryUnit
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_low_memory {
        memory = {
            def requested = 3.GB * (params.huge ? 3 : 1) * task.attempt
            try {
                def maximum = params.max_memory as nextflow.util.MemoryUnit
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_medium_low_memory {
        memory = {
            def requested = 10.GB * (params.huge ? 3 : 1) * task.attempt
            try {
                def maximum = params.max_memory as nextflow.util.MemoryUnit
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_medium_mid_memory {
        memory = {
            def requested = 20.GB * (params.huge ? 3 : 1) * task.attempt
            try {
                def maximum = params.max_memory as nextflow.util.MemoryUnit
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_medium_memory {
        memory = {
            def requested = 40.GB * (params.huge ? 3 : 1) * task.attempt
            try {
                def maximum = params.max_memory as nextflow.util.MemoryUnit
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_medium_high_memory {
        memory = {
            def requested = 60.GB * (params.huge ? 3 : 1) * task.attempt
            try {
                def maximum = params.max_memory as nextflow.util.MemoryUnit
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_higher_memory {
        memory = {
            def requested = 100.GB * (params.huge ? 3 : 1) * task.attempt
            try {
                def maximum = params.max_memory as nextflow.util.MemoryUnit
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_highest_memory {
        memory = {
            def requested = 180.GB * (params.huge ? 3 : 1) * task.attempt
            try {
                def maximum = params.max_memory as nextflow.util.MemoryUnit
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
}
