process {
    // Time Definitions
    withLabel:process_very_low_time {
        time = { params.check_max( 30.min * (params.huge ? 2 : 1) * task.attempt, 'time' ) }
    }
    withLabel:process_low_time {
        time = { params.check_max( 2.h * (params.huge ? 2 : 1) * task.attempt, 'time' ) }
    }
    withLabel:process_medium_low_time {
        time = { params.check_max( 4.h * (params.huge ? 2 : 1) * task.attempt, 'time' ) }
    }
    withLabel:process_medium_time {
        time = { params.check_max( 6.h * (params.huge ? 2 : 1) * task.attempt, 'time' ) }
    }
    withLabel:process_medium_high_time {
        time = { params.check_max( 12.h * (params.huge ? 2 : 1) * task.attempt, 'time' ) }
    }
    withLabel:process_high_time {
        time = { params.check_max( 22.h * (params.huge ? 2 : 1) * task.attempt, 'time' ) }
    }
}
