process {
    // Time Definitions
    withLabel:process_very_low_time {
        time = {
            def requested = 30.min * (params.huge ? 2 : 1) * task.attempt
            try {
                def maximum = params.max_time as nextflow.util.Duration
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_low_time {
        time = {
            def requested = 2.h * (params.huge ? 2 : 1) * task.attempt
            try {
                def maximum = params.max_time as nextflow.util.Duration
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_medium_low_time {
        time = {
            def requested = 4.h * (params.huge ? 2 : 1) * task.attempt
            try {
                def maximum = params.max_time as nextflow.util.Duration
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_medium_time {
        time = {
            def requested = 6.h * (params.huge ? 2 : 1) * task.attempt
            try {
                def maximum = params.max_time as nextflow.util.Duration
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_medium_high_time {
        time = {
            def requested = 12.h * (params.huge ? 2 : 1) * task.attempt
            try {
                def maximum = params.max_time as nextflow.util.Duration
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
    withLabel:process_high_time {
        time = {
            def requested = 22.h * (params.huge ? 2 : 1) * task.attempt
            try {
                def maximum = params.max_time as nextflow.util.Duration
                requested.compareTo(maximum) == 1 ? maximum : requested
            } catch (all) {
                println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $requested"
                requested
            }
        }
    }
}
