params {
    chr_wig = "chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY"
    minmapq_wig = 20
    custom_ploidy = "c(2,3)"
    custom_maxCN = 5
    custom_gcWig =  params.ichor_bin_size == 10000 ? "/opt/ichorCNA/inst/extdata/gc_hg38_10kb.wig" :
                    params.ichor_bin_size == 50000 ? "/opt/ichorCNA/inst/extdata/gc_hg38_50kb.wig" :
                    params.ichor_bin_size == 500000 ? "/opt/ichorCNA/inst/extdata/gc_hg38_500kb.wig" :
                                                "/opt/ichorCNA/inst/extdata/gc_hg38_1000kb.wig"
    custom_mapWig = params.ichor_bin_size == 10000 ? "/opt/ichorCNA/inst/extdata/map_hg38_10kb.wig" :
                    params.ichor_bin_size == 50000 ? "/opt/ichorCNA/inst/extdata/map_hg38_50kb.wig" :
                    params.ichor_bin_size == 500000 ? "/opt/ichorCNA/inst/extdata/map_hg38_500kb.wig" :
                                                "/opt/ichorCNA/inst/extdata/map_hg38_1000kb.wig"
    custom_centromere = "/opt/ichorCNA/inst/extdata/GRCh38.GCA_000001405.2_centromere_acen.txt"
    normal_panel =  params.ichor_bin_size == 1000000 ? "/opt/ichorCNA/inst/extdata/HD_ULP_PoN_hg38_1Mb_median_normAutosome_median.rds" :
                    params.ichor_bin_size == 500000 ? "/opt/ichorCNA/inst/extdata/HD_ULP_PoN_hg38_500kb_median_normAutosome_median.rds" :
                                                null
    homd = false
    chrs = "c(1:22, \\\"X\\\")"
    chr_train = "c(1:22)"
    genome_build = "hg38"
    genome_style = "UCSC"
    estimate_normal = true
    estimate_ploidy = true
    estimate_sc_prevalence = false
    txnE = 0.9999
    txn_strength = 10000
}
