/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Usage:
        nextflow run nf-core/oncoseq -profile test,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

// -----------------------------
// Process resource limits for test
// -----------------------------
process {
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
    maxRetries = 2
    resourceLimits = [
        cpus: 4,           // Max CPUs per process (test)
        memory: '15.GB',   // Max memory per process (test)
        time: '1.h'        // Max time per process (test)
    ]
    maxForks = 1           // Only one process at a time (test)
}

// -----------------------------
// Pipeline parameter overrides for test
// -----------------------------
params {
    config_profile_name        = 'Test profile' // Profile name for reporting
    config_profile_description = 'Minimal test dataset to check pipeline function' // Description
    outdir = 'test_out'                        // Output directory for test run
    // Input data
    input  = params.pipelines_testdata_base_path + 'realistic_data/fastq_samplesheet.csv' // Test samplesheet                           // Use fast model for test
    device = null                             // No specific device for test
    max_cpus = 2                               // Limit CPUs for test
    max_memory = '15.GB'                       // Limit memory for test
    basecall_model = "dna_r10.4.1_e8.2_400bps_hac@v5.2.0"
    max_time = '1.h'                           // Limit time for test
    skip_basecalling = true                    // Skip basecalling for test (use FASTQ input)
    sv_targets = "${projectDir}/test_data/realistic_data/targets.csv"
    genome = "hg38"
    ref_cache = "${projectDir}/test_data/realistic_data/"
}

// -----------------------------
// Apptainer (Singularity) container options for test
// -----------------------------
apptainer {
    enabled=true                              // Enable Apptainer for test
    autoMounts=true                           // Automatically mount common host paths
    runOptions = '--writable-tmpfs'           // Use writable tmpfs for container
    cacheDir = "/tmp/apptainer/cache"         // Use /tmp for image cache in test
}
