/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Usage:
        nextflow run nf-core/oncoseq -profile test,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

// -----------------------------
// Process resource limits for test
// -----------------------------
process {
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
    maxRetries = 2
    resourceLimits = [
        cpus: 4,           // Max CPUs per process (test)
        memory: '15.GB',   // Max memory per process (test)
        time: '1.h'        // Max time per process (test)
    ]
    maxForks = 1           // Only one process at a time (test)
}

// -----------------------------
// Pipeline parameter overrides for test
// -----------------------------
params {
    config_profile_name        = 'Test profile for cfDNA' // Profile name for reporting
    config_profile_description = 'Complete test for cfDNA mode' // Description
    outdir = 'test_out'                        // Output directory for test run
    // Input data
    input  = params.pipelines_testdata_base_path + 'cfdna/samplesheet.csv' // Test samplesheet
    publish_dir_mode = 'copy'                  // Copy outputs for test
    basecall_model = "hac"
    skip_basecalling = true                    // Skip basecalling for test (use FASTQ input)
    cfdna= true
    ref_t2t = params.pipelines_testdata_base_path + 'realistic_data/chm13v2.0.fa.gz'
}

// -----------------------------
// Apptainer (Singularity) container options for test
// -----------------------------
apptainer {
    enabled=true                              // Enable Apptainer for test
    autoMounts=true                           // Automatically mount common host paths
    runOptions = '-C --writable-tmpfs'           // Use writable tmpfs for container
    cacheDir = "/tmp/apptainer/cache"         // Use /tmp for image cache in test
}
