/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/oncoseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 8,
        memory: '30.GB',
        time: '3.h'
    ]
    maxForks = 1
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'
    outdir = 'test_out'
    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = params.pipelines_testdata_base_path + 'realistic_data/samplesheet.csv'
    // Fasta references
    // ref = params.pipelines_testdata_base_path + 'realistic_data/hg38.{fa,fa.fai}'
    // Bed file
    bed = params.pipelines_testdata_base_path + 'realistic_data/test.bed'
    model = 'fast'
    publish_dir_mode = 'copy'
    minqs = 8
    padding = 20000
    clin_database = params.pipelines_testdata_base_path + "realistic_data/hg38_clinvar.vcf.{gz,gz.tbi}"
    low_fidelity = '/workspaces/nf-core-oncoseq/assets/NOLIST'
}

apptainer {
    enabled=true
    autoMounts=true
    runOptions = '--writable-tmpfs'
    cacheDir = "/tmp/apptainer/cache"
}
