/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/oncoseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore' }
    maxRetries = 1
    resourceLimits = [
        cpus: 8,
        memory: 30.GB,
        time: 3.h
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function in realtime'
    outdir = 'test_out'
    input = params.pipelines_testdata_base_path + 'realistic_data/realtime_samplesheet.csv'
    maxForks = 2
    publish_dir_mode = 'copy'
    skip_mapping = true
    realtime = 18
    ref_cache = "${projectDir}/test_data/references"
    basecall_model = 'sup'
}

apptainer {
    enabled=true
    autoMounts=true
    runOptions = '-C --writable-tmpfs'
    cacheDir = "/tmp/apptainer/cache"
}

env {
    NXF_TEMP = "${projectDir}/tmp"
}
